
:root {
    --verde-liviano: #28B463;
    --verde-acentuado-contactame: #1D8348;
    --verde-acentuado-nombre:white;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}
@media (max-width: 800px){
    #preguntas {
        visibility: hidden;
        position: absolute;
    }
}
@media (max-width: 615px){
    #nombre {
        visibility: hidden;
        position: absolute;
    }
    .inicio_header > img {
        bottom: 200px;
    }

}
.preguntas {
    margin: 2%;
}
.preguntas > ol {
    margin: 2%;
}
.preguntas > ol > li {
    margin: 2%;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;   
    color: #3A403A;
    text-decoration: none;
}
li, a, button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;   
    font-size: 18px;
    color: grey;
    text-decoration: none;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 2%;


}
.inicio_header > img {
    background-color: transparent;
    position: relative;
    top: 30px;
}
a.inicio_header {
    background-color: transparent;
}
a.inicio_header > button {
    background-color: var(--verde-liviano);
    transition: all 0.3s ease 0s;
    padding: 9px 9px;
    border-radius: 9px;
    border: none;
    color: white;
    font-size: 25px;
}
a.inicio_header:hover > button {
    color: white;
    background-image: linear-gradient(to bottom right, var(--verde-liviano), var(--verde-acentuado-contactame))
}
a.cta {
    background-color: transparent;
}
a.cta:hover > button {
    color: white;
    

}
#links_nav {
    background-color: transparent;
}
.links_navegacion{
    background-color: transparent;
}
.links_navegacion > li{
    list-style: none;
    background-color: white;
    border-radius: 50px;
    border: none;
    display: inline-block;
    padding: 9px 30px 9px 10px;
    margin-left: 10px;
    
}
.links_navegacion li a {
    transition: all 0.3s ease 0s;
    background-color: transparent;
}
.links_navegacion li a > img{
    opacity: 0;
    background-color: transparent;
    position:relative;
    top:3px;
    left:-3px;
}
.links_navegacion li a:hover > img{
    transition: all 0.3s ease 0s;
    opacity: 1;
}
.links_navegacion li a:hover {
    color: black;
}

#l1 {
    margin-left: 10px;
}
header.header_class {
    background-color: var(--verde-liviano);
}
hr.hr_header{
    border: 2px solid rgb(110, 180, 110);
}
a.cta > button{
    color:#3A403A;
    padding: 9px 25px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}
a.cta > button:hover {
    background-color: var(--verde-acentuado-contactame);
}