* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}


li, a, button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;   
    font-size: 18px;
    color: grey;
    text-decoration: none;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;


}
#header_link{
    background-color: #DAF7A6;
    height: 50px;
    width: 195px;
    padding: 15px;
    border-radius: 10px;
}
#pre_inicio{
    background-color: white;
    height: 55px;
    width: 5px;
    margin: 0px;
}
a.inicio_header {
    background-color: transparent;
}
a.inicio_header > button {
    background-color: #90ee90;
    padding: 9px 9px;
    border-radius: 9px;
    border: none;
    color: white;
    font-size: 25px;
}
a.inicio_header:hover > button {
    color: white;
    background-color: rgb(120, 221, 120);
}
a.cta {
    background-color: transparent;
}
a.cta:hover > button {
    color: white;
    

}
#links_nav {
    background-color: transparent;
}
.links_navegacion{
    background-color: transparent;
}
.links_navegacion > li{
    list-style: none;
    background-color: white;
    padding: 9px;
    border-radius: 50px;
    border: none;
    
}

.links_navegacion li {
    display: inline-block;
    padding: 10px 20px;
    padding-right: 40px;
    margin-left: 90px;
}

.links_navegacion li a {
    transition: all 0.3s ease 0s;
    background-color: transparent;
}
.links_navegacion li a > img{
    opacity: 0;
    background-color: transparent;
    position:relative;
    top:3px;
    left:-3px;
}
.links_navegacion li a:hover > img{
    transition: all 0.3s ease 0s;
    opacity: 1;
}
.links_navegacion li a:hover {
    color: black;
}
.links_navegacion .special_li li {
    padding: 9px 25px;
    background-color: #26b361;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;


}
header.header_class {
    background-color: #90ee90;
}
hr.hr_header{
    border: 2px solid rgb(110, 180, 110);
}
a.cta > button{
    color:#3A403A;
    padding: 9px 25px;
    background-color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}
a.cta > button:hover {
    background-color: #28B463;
}